body {
  background-color: #f4f4e1;
}

.navbar {
  background-color: #93937f;
  color: #f2f2e9;
  font-family: 'Comfortaa', cursive;
}

.navlink:hover {
  color: #747467;
}

.navbar h1 {
  display: inline-flex;
  justify-content: flex-start;
  padding: 20px;
}

.navlink {
  display: inline-flex;
  text-align: center;
  justify-content: flex-end;
  padding: 20px;
  text-decoration: none;
  color: #f6f6f1;
}

#sort-bar {
  display: flex;
  background-color: #a1a18c;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
}

.info-display {
  background-color: #666656;
  display: grid;
  grid-template-columns: 30% 70%;
  max-height: 500px;
  margin: 20px;
  border: 5px solid;
  border-bottom-color: #565643;
  border-left-color: #565643;
  border-right-color: #a1a18c;
  border-top-color: #a1a18c;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: #181815;
}

.book-image{
  text-align: center;
}

.book-image img {
  max-height: 400px;
  padding: 10px;
}

#book-title {
  font-size: 32px;
  color: #f6f6f1;
}

#book-title:hover {
  color: #96968a;
}

#book-author:hover {
  color: #96968a;
}

#statistics {
  display: flex;
  background-color: #a1a18c;
  justify-content: space-between;
  padding: 20px;
}

#review-title {
  color: #f6f6f1;
  font-size: 24px;
}

#author-book-img img{
  max-height: 250px;
}

#author-book-info {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

#top-reviews {
  overflow-x: scroll;
  max-height: 200px;
}

#bottom-reviews {
  overflow-x: scroll;
  max-height: 200px;
}

#user-reviews {
  overflow: scroll;
  max-height: 200px;
}

.review-scroll {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-top-color: #666656;
  border-bottom-color: #666656;
}

.landing-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#welcome {
  background-color: #a1a18c;
  padding: 50px;
  border-radius: 15px;
  border: 3px solid;
  border-color: #565643;
  color: #f2f2e9;
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
}

.footer {
  display: block;
  width: 100%;
  margin: 10px;
  color: #656554;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}

#git {
  color: #7c786a;
}

#git:hover {
  color: #564444;
}
