<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME TO BOOK CLUB!</h1>
    <%= link_to 'ENTER', books_path %>
  </body>
</html>
